asgiref==3.4.1
Click==7.0
Django==3.2.15
django-capture-on-commit-callbacks==1.10.0
djangorestframework==3.11.2
ghp-import==2.0.2
importlib-metadata==4.8.1
Jinja2==2.11.3
livereload==2.6.1
Markdown==3.2.1
MarkupSafe==1.1.1
mergedeep==1.3.4
mkdocs==1.2.3
mkdocs-material==4.6.3
packaging==21.0
Pygments==2.7.4
pymdown-extensions==6.3
pyparsing==3.0.0
python-dateutil==2.8.2
pytz==2018.3
PyYAML==5.4
pyyaml-env-tag==0.1
six==1.14.0
sqlparse==0.3.0
tornado==6.0.3
urlman==1.2.0
watchdog==2.1.6
zipp==3.6.0
